body {
    font-family: Arial;
    background-color: #da5050;
    padding: 20px;
}

h1 {
    color: #ffffff;
}

a {
    color: blue;
}

button {
    background-color: green;
    color: white;
    padding: 8px;
    border: none;
}